<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
		
		<head  >
			<meta charset="utf-8">
			<title>Dashboard</title>
			<meta name="description" content="description">
			<meta name="author" content="lp">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="redirectPage" data-th-attr="content=${redirectPage}" /> 
			
			<link type="text/css" th:href="@{/bo/plugins/bootstrap/bootstrap.css}" rel="stylesheet"/>
			<link type="text/css" th:href="@{/bo/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet"/>
			<link type="text/css" th:href="@{/bo/css/style_v1.css}" rel="stylesheet"/>
			<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
			
	</head>
	
<body>
<!--Start Header-->
<header th:replace="dashboard/fragment/header :: header"></header>
<!--End Header-->

<!--Start Container-->
<div id="main" class="container-fluid">

	<div class="row">
	
		<!--Start sidebar-->
		<div th:replace="dashboard/fragment/sidebarLeft :: sidebar-left"></div>
		<!--End sidebar-->
		
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">
		 
		 	<!-- HOME -->
			<div id="home" style="visibility:hidden" th:replace="dashboard/content/home :: home"></div>
			<!-- gestao de menu -->
			<div id="gestao-Menu" style="visibility:hidden" th:replace="dashboard/content/gestaoMenu :: gestao-Menu"></div>
			<!-- gestao de categorias -->
			<div id="gestao-Categorias" style="visibility:hidden" th:replace="dashboard/content/gestaoCategorias :: gestao-Categorias"></div>
			<!-- gestao de conteudos -->
			<div id="gestao-Conteudos" style="visibility:hidden" th:replace="dashboard/content/gestaoConteudos :: gestao-Conteudos"></div>
			
		</div>
		<!--End Content-->
		
		 
	</div>
</div>

<!--End Container-->
<footer th:replace="dashboard/fragment/footer :: footer"></footer>
</body>
</html>