<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
	
</head>
<body>

<div th:fragment="gestao-Categorias" id="gestao-Categorias" >

		<!--Start Breadcrumb-->
		<div class="row">
			<div id="breadcrumb" class="col-xs-12">
				<a href="#" class="show-sidebar"> <i class="fa fa-bars"></i>
				</a>
				<ol class="breadcrumb pull-left">
					<li><a href="index.html">Home</a></li>
					<li><a href="#">Gestão de separadores</a></li>
				</ol>
				<div id="social" class="pull-right">
					<a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i
						class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i
						class="fa fa-youtube"></i></a>
				</div>
			</div>
		</div>
		<!--End Breadcrumb-->
		<!--Start Dashboard 1-->
		
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="box">
		
					<div class="box-header">
						<div class="box-name">
							<i class="fa fa-search"></i> <span>Nova categoria</span>
						</div>
						<div class="box-icons">
							<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
							</a> <a class="expand-link"> <i class="fa fa-expand"></i>
							</a> <a class="close-link"> <i class="fa fa-times"></i>
							</a>
						</div>
						<div class="no-move"></div>
					</div>
		
		
					<div class="box-content">
						<h4 class="page-header">Adicionar</h4>
		
						<form class="form-horizontal" role="form" action="#"
							th:action="@{/new_cat}" th:object="${tb_separador}" method="post">
		
		
							<div class="form-group">
								<label class="col-sm-2 control-label">Nome</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										placeholder="exemplo: cenas" data-toggle="tooltip"
										data-placement="bottom" title="Tooltip for name"
										th:field="*{nome}">
								</div>
								<label class="col-sm-2 control-label">Url</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										placeholder="exemplo: /cenas" data-toggle="tooltip"
										data-placement="bottom" title="Tooltip for last name"
										th:field="*{url}">
								</div>
							</div>
							<div class="clearfix"></div>
		
							<div class="form-group">
								<label class="col-sm-2 control-label">Imagem</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										placeholder="exemplo: cenas" data-toggle="tooltip"
										data-placement="bottom" title="Tooltip for name"
										th:field="*{img}">
								</div>
		
		
							</div>
		
							<div class="clearfix"></div>
							<div class="form-group">
		
								<div class="col-sm-2">
									<button type="submit" class="btn btn-primary btn-label-left">
										<span><i class="fa fa-clock-o"></i></span> Guardar
									</button>
								</div>
		
							</div>
						</form>
		
		
		
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="box-content">
		
				<table class="table beauty-table table-hover">
					<thead>
						<tr>
							<th>Nome separador</th>
							<th>Update</th>
							<th>url</th>
							<th>Path Imagem</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
		
						<tr th:each="cat : ${catgories}">
							<td th:text="${cat.nome}">Onions</td>
							<td th:text="${cat.lastUpdate}">2.41</td>
							<td th:text="${cat.url}">2.41</td>
							<td th:text="${cat.img}">2.41</td>
							<td><a hreflang="">Editar</a></td>
							<td><a hreflang="">Remover</a></td>
						</tr>
		
		
					</tbody>
				</table>
			</div>
		</div>
</div>

</body>
</html>