<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
	
</head>
<body>


<head  th:fragment="head">
		<meta charset="utf-8">
		<title>Dashboard</title>
		<meta name="description" content="description">
		<meta name="author" content="lp">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		
		<link type="text/css" th:href="@{/bo/plugins/bootstrap/bootstrap.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/bo/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/bo/css/style_v1.css}" rel="stylesheet"/>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
		
		<!-- <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
		
		<link type="text/css" th:href="@{/bo/plugins/fancybox/jquery.fancybox.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/bo/plugins/fullcalendar/fullcalendar.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/bo/plugins/xcharts/xcharts.min.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/bo/plugins/select2/select2.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/bo/plugins/justified-gallery/justifiedGallery.css}" rel="stylesheet"/> -->
		
		<!-- <link type="text/css" th:href="@{/bo/plugins/chartist/chartist.min.css}" rel="stylesheet"/> -->
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
				<script type="text/javascript" th:src="@{/bo/http://getbootstrap.com/docs-assets/js/html5shiv.js}"></script>
				<script type="text/javascript" th:src="@{/bo/http://getbootstrap.com/docs-assets/js/respond.min.js}"></script>
		<![endif]-->
</head>
</body>
</html>