<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
</head>
	<body>
		<footer  th:fragment="footer">
			
					<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
					<!--<script type="text/javascript" th:src="@{/bo/http://code.jquery.com/jquery.js}"></script>-->
					<script type="text/javascript" th:src="@{/bo/plugins/jquery/jquery.js}"></script>
					<script type="text/javascript" th:src="@{/bo/plugins/jquery-ui/jquery-ui.min.js}"></script>
					
					
					<!-- Include all compiled plugins (below), or include individual files as needed -->
					<script type="text/javascript" th:src="@{/bo/plugins/bootstrap/bootstrap.min.js}"></script>
					
					<!-- <script type="text/javascript" th:src="@{/bo/plugins/justified-gallery/jquery.justifiedGallery.min.js}"></script>
					<script type="text/javascript" th:src="@{/bo/plugins/tinymce/tinymce.min.js}"></script>
					<script type="text/javascript" th:src="@{/bo/plugins/tinymce/jquery.tinymce.min.js}"></script> -->
					
					
					<!-- All functions for this theme + document.ready processing -->
					<script type="text/javascript" th:src="@{/bo/js/core.js}"></script>
					
					<!-- File upload 
					<script type="text/javascript" th:src="@{bo/plugins/fineuploader/fine-uploader.js}"></script>
					-->
		</footer>
	</body>
</html>