<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
	
</head>
<body>


<head  th:fragment="head">
		<meta charset="utf-8">
		<title>Dashboard</title>
		<meta name="description" content="description">
		<meta name="author" content="lp">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		
		<link type="text/css" th:href="@{/bo/plugins/bootstrap/bootstrap.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/bo/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/bo/css/style_v1.css}" rel="stylesheet"/>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
	
</head>
</body>
</html>