<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
	
</head>
<body>

<div th:fragment="gestao-Conteudos" id="gestao-Conteudos" >

<!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar"> <i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="/db">Home</a></li>
			<li><a href="gestao-Conteudos" class="ajax-link" >Gestão de Conteudos</a></li>
		</ol>
		<div id="social" class="pull-right">
			<a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i
				class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i
				class="fa fa-youtube"></i></a>
		</div>
	</div>
</div>
<!--End Breadcrumb-->
<!--Start Dashboard 1-->

<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">

			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-search"></i> <span>Adicionar conteudos</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
					</a> <a class="expand-link"> <i class="fa fa-expand"></i>
					</a> <a class="close-link"> <i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>


			<div class="box-content">
			
			<!-- Conteudos -->
				<h4 class="page-header">Adicionar Conteudos</h4>

				<form class="form-horizontal" role="form" action="#" th:action="@{/db/addCont}" th:object="${tb_content}" method="post" enctype="multipart/form-data">

 					<div class="form-group">
						<label class="col-sm-2 control-label">Categoria</label>
												
						<div class="row form-group">
							<div class="col-sm-4">
								<select th:field="*{categoria_id}">
								  <option th:each="type : ${catgories}" 
								          th:value="${type.id}" 
								          th:text="${type.nome}"></option>
								</select>
							</div>
						</div>
						
 						<label class="col-sm-2 control-label">Activo </label>
						<div class="col-sm-4">
							<div class="toggle-switch toggle-switch-success">
								<label>
									<input type="checkbox" id="active" name="active" checked>
									<div class="toggle-switch-inner"></div>
									<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
								</label>
							</div>
						</div>
					</div>

					 <div class="form-group">
						
						<label class="col-sm-2 control-label">Titulo</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="titulo" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for last name"
								th:field="*{titulo}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Sinopse</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="sinopse" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for name"
								th:field="*{sinopse}">
						</div>
						
						<label class="col-sm-2 control-label">Ano</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="ano" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for last name"
								th:field="*{ano}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Coreografia</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="coreografia" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for name"
								th:field="*{coreografia}">
						</div>
						
						<label class="col-sm-2 control-label">Interpretacao</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="interpretacao" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for last name"
								th:field="*{interpretacao}">
						</div>
					</div>
					 
					 <div class="form-group">
						<label class="col-sm-2 control-label">Musica</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="musica" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for name"
								th:field="*{musica}">
						</div>
						
						<label class="col-sm-2 control-label">Figurinos</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="figurinos" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for last name"
								th:field="*{figurinos}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">EdicaoMusical</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="edicaoMusical" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for name"
								th:field="*{edicaoMusical}">
						</div>
						
						<label class="col-sm-2 control-label">Fotografia</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="fotografia" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for last name"
								th:field="*{fotografia}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Video</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="video" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for name"
								th:field="*{video}">
						</div>
						
						<label class="col-sm-2 control-label">Duracao</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="duracao" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for last name"
								th:field="*{duracao}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">ClassE</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="classE" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for name"
								th:field="*{classE}">
						</div>
						
						<label class="col-sm-2 control-label">Aperiçoes Publicas</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="ap_publicas" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for last name"
								th:field="*{ap_publicas}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Agradecimentos</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="agradecimentos" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for name"
								th:field="*{agradecimentos}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">option1</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="option1" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for name"
								th:field="*{option1}">
						</div>
						
						<label class="col-sm-2 control-label">option2</label>
						<div class="col-sm-4">
							<input type="text" class="form-control"
								placeholder="option2" data-toggle="tooltip"
								data-placement="bottom" title="Tooltip for last name"
								th:field="*{option2}">
						</div>
					</div> 

<!-- Butao submit -->
					<div class="form-group">
						<div class="col-sm-2">
							<button type="submit" class="btn btn-primary btn-label-left">
								<span><i class="fa fa-clock-o"></i></span> Guardar
							</button>
						</div>
					</div>
				</form>



			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="box-content">

<h4 class="page-header">Conteudos</h4>

		<table class="table beauty-table table-hover">
			<thead>
				<tr>
					<th>Categoria</th>
					<th>Titulo</th>
					<th>sinopse</th>
					<th>ano</th>
					<th>coreografia</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
<!-- id, , , , , interpretacao, musica, figurinos, edicaoMusical, fotografia, video, duracao, classE, ap_publicas, agradecimentos, option1, option2, , edicao_musical, active -->
				<tr th:each="cont : ${contents}">
						<td th:text="${cont.categoria_id}"></td>
						<td th:text="${cont.titulo}"></td>
						<td th:text="${cont.sinopse}"></td>
						<td th:text="${cont.ano}"></td>
						<td th:text="${cont.coreografia}"></td>
						
						<td>
							<form action="#" th:action="@{/db/editCont}" th:object="${tb_content}" method="post">
								<input type="hidden" th:value="${cont.id}"  id="id" name="id" />
								<input type="submit" value="Editar"/>
							</form>
						</td>
						<td>
							<form action="#" th:action="@{/db/delCont}" th:object="${tb_content}" method="post">
								<input type="hidden" th:value="${cont.id}"  id="id" name="id" />
								
								<input type="submit" value="Remover"/>
							</form>
						</td>
				</tr>
				
		
			</tbody>
		</table>
	</div>
</div>
</div>
</body>
</html>