<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
	
</head>
<body>

<div th:fragment="home" id="home" >

		<!--Start Breadcrumb-->
		<div class="row">
			<div id="breadcrumb" class="col-xs-12">
				<a href="#" class="show-sidebar">
					<i class="fa fa-bars"></i>
				</a>
				<ol class="breadcrumb pull-left">
					<li><a href="/db">Home</a></li>
				</ol>
				
			</div>
		</div>
		<!--End Breadcrumb-->
		<!--Start Dashboard 1-->
		<div id="dashboard-header" class="row">
		
			
			 
			<div class="box-content">
			
			 
			 <form action="#" th:action="@{/update_fe}" th:object="${greeting}" method="post">
			<table class="table beauty-table table-hover">
				
							<thead>
								<tr>
									<th>Nome separador</th>
									<th>Update</th>
									<th>url</th>
									<th>Path Imagem</th>
								</tr>
							</thead>
							<tbody>
							
							<tr th:each="cat : ${catgories}">
								<td th:text="${cat.nome}"></td>
								<td th:text="${cat.lastUpdate}"></td>
								<td th:text="${cat.url}"></td>
								<td th:text="${cat.img}"></td>
								
							</tr>
								
								
							</tbody>
						</table>
						<button type="submit" class="btn btn-primary btn-label-left"><span><i class="fa fa-clock-o"></i></span>Build/Update HTML</button>
				</form>	
					</div>
		</div>
</div>

</body>
</html>