<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
	
</head>
<body>

<div th:fragment="home" id="home" >

		<!--Start Breadcrumb-->
		<div class="row">
			<div id="breadcrumb" class="col-xs-12">
				<a href="#" class="show-sidebar">
					<i class="fa fa-bars"></i>
				</a>
				<ol class="breadcrumb pull-left">
					<li><a href="/db">Home</a></li>
				</ol>
				
			</div>
		</div>
		<!--End Breadcrumb-->
		<!--Start Dashboard 1-->
		
		<div class="row" >
			<div class="box-content">	
				<h4 class="page-header">Accões</h4>	
				<a class="btn btn-success btn-label-center" href="/" target="_blank" ><span><i class="fa fa-clock-o"></i></span>Ver Pagina Principal</a>
				<button type="button" class="btn btn-danger btn-label-left"><span><i class="fa fa-clock-o"></i></span>Build/Update Pagina Principal</button>
				<h4 class="page-header"></h4>
			</div>
		</div>
		<div id="dashboard-header" class="row"> 
			<div class="box-content">		
			 
			 <h4 class="page-header">Categorias</h4>
			<table class="table beauty-table table-hover">
				
							<thead>
								<tr>
									<th>Categoria</th>
									<th>Update</th>
									<th>url</th>
									<th>Path Imagem</th>
									<th>Visível</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							
							<tr th:each="cat : ${catgories}">
								<td th:text="${cat.nome}"></td>
								<td th:text="${cat.lastUpdate}"></td>
								<td th:text="${cat.url}"></td>
								<td th:text="${cat.img}"></td>
								<td>
								<div class="col-sm-4">
									<div class="toggle-switch toggle-switch-success">
										<label>
											<input th:if="${cat.active_flag} == 0" type="checkbox" id="catgories" name="active" th:value="${cat.id}" >
											<input th:if="${cat.active_flag} == 1" type="checkbox" id="catgories" name="active" th:value="${cat.id}" checked>
											<div class="toggle-switch-inner"></div>
											<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
										</label>
									</div>
								</div>
								</td>
								<!-- 
								<td th:if="${cat.active_flag} == 0" th:text="Não"></td>
								<td th:if="${cat.active_flag} == 1" th:text="Sim"></td>
								<td>
									<form action="#" th:action="@{/db/activeOrDesactve}" th:object="${tb_separador}" method="post">
										<input type="hidden" th:value="${cat.id}"  id="id" name="id" />
										<input type="hidden" th:value="${cat.active_flag}"  id="active_flag" name="active_flag" />
										<input type="submit" value="Visivel"/>
									</form>
								</td>
								 -->
							</tr>
								
								
							</tbody>
						</table>
						
				
					</div>
		</div>
		<div class="row">
	<div class="box-content">

		<h4 class="page-header">Conteudos</h4>

		<table class="table beauty-table table-hover">
			<thead>
				<tr>
					<th>Categoria</th>
					<th>Titulo</th>
					<th>sinopse</th>
					<th>ano</th>
					<th>coreografia</th>
					<th>Visível</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
					<tbody>
						<!-- id, , , , , interpretacao, musica, figurinos, edicaoMusical, fotografia, video, duracao, classE, ap_publicas, agradecimentos, option1, option2, , edicao_musical,  -->
						<tr th:each="cont : ${contents}">
							<td th:text="${cont.categoria_id}"></td>
							<td th:text="${cont.titulo}"></td>
							<td th:text="${cont.sinopse}"></td>
							<td th:text="${cont.ano}"></td>
							<td th:text="${cont.coreografia}"></td>
							<td>
								<div class="col-sm-4">
									<div class="toggle-switch toggle-switch-success">
										<label>
											<input th:if="${cont.active_flag} == 0" type="checkbox" id="contents" name="active" th:value="${cont.id}">
											<input th:if="${cont.active_flag} == 1" type="checkbox" id="contents" name="active" th:value="${cont.id}" checked>
											<div class="toggle-switch-inner"></div>
											<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
										</label>
									</div>
								</div>
								</td>

						</tr>


					</tbody>
				</table>
	</div>
</div>
</div>

</body>
</html>