<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
	<script type="text/javascript">
		$(document).ready(function() {
			// Create Wysiwig editor for textare
			TinyMCEStart('#wysiwig_simple', 'extreme');
			TinyMCEStart('#wysiwig_full', 'extreme');
	
		});
	</script>
	
</head>
<body>

	<div th:fragment="gestao-Conteudos" id="gestao-Conteudos">
	

  <!-- Fine Uploader Thumbnails template w/ customization
    ====================================================================== -->
    <script type="text/template" id="qq-template-manual-trigger">
        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="buttons">
                <div class="qq-upload-button-selector qq-upload-button">
                    <div>Select files</div>
                </div>
                <button type="button" id="trigger-upload" class="btn btn-primary">
                    <i class="icon-upload icon-white"></i> Upload
                </button>

            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                    <span class="qq-upload-file-selector qq-upload-file"></span>
                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                    <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Close</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Yes</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancel</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>
  
		<!--Start Breadcrumb-->
		<div class="row">
			<div id="breadcrumb" class="col-xs-12">
				<a href="#" class="show-sidebar"> <i class="fa fa-bars"></i>
				</a>
				<ol class="breadcrumb pull-left">
					<li><a href="/bo">Home</a></li>
					<li><a href="gestao-Conteudos" class="ajax-link">Gestão	de Conteudos</a></li>
				</ol>
				
			</div>
		</div>
		<!--End Breadcrumb-->

<!-- Nota paragrafo e espaços-->
<p> Paragrafo -> { & n b s p ; }(tudo junto) <br>Espaço -> { \< br / \> }(sem esta barra-\)<!p>
		<!--START PLUS Projecto  TIPO APRESENTACAO-->
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="box">

					<div class="box-header">
						<div class="box-name">
							<i class="fa fa-search"></i> <span>Adicionar conteudo: TIPO APRESENTACAO</span>
						</div>
						<div class="box-icons">
							<a class="collapse-link"> <i th:class="${editMode} == 'TYPE_APRESENTACAO'? 'fa fa-chevron-down': 'fa fa-chevron-up'" ></i>
							</a> <a class="expand-link"> <i class="fa fa-expand"></i>
							
							</a>
						</div>
						<div class="no-move"></div>
					</div>
					
				<div class="box-content"  th:style="${editMode} == 'TYPE_APRESENTACAO'? 'display: block;': 'display: none;'">

					<!-- Conteudos -->
					
					<form 	class="form-horizontal" 
							role="form" action="#" 
							th:action="@{${editMode} == 'TYPE_APRESENTACAO'? '/bo/upCont': '/bo/addCont'}" 
							th:object="${projectosObj}" 
							method="POST" 
							enctype="multipart/form-data">
					
						<input type="text" class="hidden" th:field="*{id}">					
						
	 					<div class="form-group">
	 							<label class="col-sm-2 control-label">titulo</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										placeholder="exemplo: cenas" data-toggle="tooltip"
										data-placement="bottom" title="Tooltip for name"
										th:field="*{titulo}">
								</div>
		 				<!-- 						
							<label class="col-sm-2 control-label">Imagem Upload</label>
								<div class="col-sm-4">
									<input th:field="*{fileDatas}" type="file" />
								</div>
								 -->
	 					</div>
	 					
						<div class="form-group">
							<label class="col-sm-2 control-label" for="form-styles">Descricao</label>
							<div class="col-sm-10">
									<textarea class="form-control" rows="5" id="wysiwig_simple" th:field="*{descricao}" ></textarea>
							</div>
						</div>
						
	 					<!--  -->
						<h4 class="page-header"></h4>
	 					<div class="form-group">
	 						<label class="col-sm-2 control-label">Categoria</label>
								<div class="col-sm-4">
									<select th:field="*{categoria_id}">
									  <option th:each="type : ${catgories}"
									  		  th:if="${type.type}=='TYPE_APRESENTACAO'" 
									          th:value="${type.id}" 
									          th:text="${type.nome}"></option>
									        
									</select>
								</div>	
	 						<label class="col-sm-2 control-label">Sequencia</label>
								<div class="col-sm-4">
									<select th:field="*{orderView}">
										<option th:each="i: ${#numbers.sequence(0, nTotalPro )}"
											th:value="${i}" th:text="${i}"></option>
									</select>
								</div>
	 					</div>
	 					
	 					<!-- Butao submit -->
	 					<h4 class="page-header"></h4>
						<div class="form-group">
							<div class="col-sm-2">
								<button type="submit" class="btn btn-primary btn-label-left">
									<span><i class="fa fa-clock-o"></i></span> Guardar
								</button>
							</div>
						</div>
 					</form>
				</div>
				
				</div>
			</div>
		</div>
		<!--END TIPO APRESENTACAO-->
			
		<!--START PLUS Projecto  TIPO PROJECTOS-->
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="box">

					<div class="box-header">
						<div class="box-name">
							<i class="fa fa-search"></i> <span>Adicionar conteudo:  TIPO PROJECTOS</span>
						</div>
						<div class="box-icons">
							<a class="collapse-link"> <i th:class="${editMode} == 'TYPE_PROJECTOS'? 'fa fa-chevron-down': 'fa fa-chevron-up'"></i>
							</a> <a class="expand-link"> <i class="fa fa-expand"></i>
							
							</a>
						</div>
						<div class="no-move"></div>
					</div>


					<div class="box-content" th:style="${editMode} == 'TYPE_PROJECTOS'? 'display: block;': 'display: none;'">

						<!-- Conteudos -->
						
						<form 	class="form-horizontal" 
								role="form"  
								th:action="@{${editMode} == 'TYPE_PROJECTOS'? '/bo/upCont': '/bo/addCont'}" 
								th:object="${projectosObj}" 
								method="POST" 
								enctype="multipart/form-data" >
								
							<input type="text" class="hidden" th:field="*{id}">
							
							
		 					<div class="form-group">
	 							<label class="col-sm-2 control-label">titulo</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										placeholder="exemplo: cenas" data-toggle="tooltip"
										data-placement="bottom" title="Tooltip for name"
										th:field="*{titulo}">
								</div>
		 										
							<label class="col-sm-2 control-label">Imagem Capa</label>
								<div class="col-sm-4">
									<input th:field="*{fileDatas}" type="file" />
								</div>
								<div class="col-sm-4">
									<img th:src="'http://'+ @{${ipServer}}+''+ @{*{img_capa}}" style="width:300px;height:80px;">
								</div>
	 						</div>
	 						
	 					
							<div class="form-group">
								<label class="col-sm-2 control-label" for="form-styles">Sinopse </label>
								<div class="col-sm-10">
										<textarea class="form-control" rows="5" id="wysiwig_simple" th:field="*{descricao}" ></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label" for="form-styles">Ficha técnica</label>
								<div class="col-sm-10">
										<textarea class="form-control" rows="5" id="wysiwig_simple" th:field="*{ficha_tecnica}" ></textarea>
								</div>
							</div>
							
							<h4 class="page-header"></h4>		
							<div class="form-group">		
									<label class="col-sm-2 control-label">Link Video</label>
									<div class="col-sm-4">
									<input type="text" class="form-control"
										placeholder="exemplo: https://www.youtube.com/embed/tgbNymZ7vqY" data-toggle="tooltip"
										data-placement="bottom" title="Tooltip for name"
										th:field="*{video_link}">
									</div>
									
							</div>
							<div class="form-group">		
									<label class="col-sm-2 control-label">Iframe Video</label>
									<div class="col-sm-10">
										<textarea 
													class="form-control" 
													rows="5" id="wysiwig_simple" 
													th:field="*{video_iframe}" ></textarea>
									</div>
									
									
							</div>
							
			 				<!-- Back Ground -->
							<h4 class="page-header"></h4>
		 					<div class="form-group">
		 						<label class="col-sm-2 control-label">Categoria</label>
									<div class="col-sm-4">
										<select th:field="*{categoria_id}">
										  <option th:each="type : ${catgories}"
										  		  th:if="${type.type}=='TYPE_PROJECTOS'" 
										          th:value="${type.id}" 
										          th:text="${type.nome}"></option>
										        
										</select>
									</div>	
		 						<label class="col-sm-2 control-label">Sequencia</label>
									<div class="col-sm-4">
										<select th:field="*{orderView}">
											<option th:each="i: ${#numbers.sequence(0, nTotalPro )}"
												th:value="${i}" th:text="${i}"></option>
										</select>
									</div>
		 					</div>
			 					
							<!-- Butao submit -->
						<h4 class="page-header"></h4>
						<div class="form-group">
							<div class="col-sm-2">
								<button type="submit" class="btn btn-primary btn-label-left">
									<span><i class="fa fa-clock-o"></i></span> Guardar
								</button>
							</div>
						</div>
							
	 					</form>
 					
					</div>
				</div>
			</div>
		</div>
		<!--END TIPO APRESENTACAO-->
		
		
		<!--START PLUS Projecto  TIPO FOOTER-->
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="box">

					<div class="box-header">
						<div class="box-name">
							<i class="fa fa-search"></i> <span>Adicionar conteudo: TIPO FOOTER</span>
						</div>
						<div class="box-icons">
							<a class="collapse-link"> <i th:class="${editMode} == 'TYPE_FOOTER'? 'fa fa-chevron-down': 'fa fa-chevron-up'"></i>
							</a> <a class="expand-link"> <i class="fa fa-expand"></i>
							
							</a>
						</div>
						<div class="no-move"></div>
					</div>
					
				<div class="box-content" th:style="${editMode} == 'TYPE_FOOTER'? 'display: block;': 'display: none;'">

					<!-- Conteudos -->					
					<form 	class="form-horizontal" 
							role="form" action="#" 
							th:action="@{${editMode} == 'TYPE_FOOTER'? '/bo/upCont': '/bo/addCont'}" 
							th:object="${projectosObj}" 
							method="post" 
							enctype="multipart/form-data">
					
					<input type="text" class="hidden" th:field="*{id}">
					
									<select th:field="*{orderView}" class="hidden">
											<option th:each="i: ${#numbers.sequence(0, nTotalPro )}"
												th:value="${i}" th:text="${i}"></option>
										</select>
									
									
	 						<div class="form-group">
	 						<label class="col-sm-2 control-label">Categoria</label>
								<div class="col-sm-4">
									<select th:field="*{categoria_id}">
									  <option th:each="type : ${catgories}"
									  		  th:if="${type.type}=='TYPE_FOOTER'" 
									          th:value="${type.id}" 
									          th:text="${type.nome}"></option>
									        
									</select>
								</div>	
							</div>
							
	 						<h4 class="page-header"></h4>
							<div class="form-group">
	 							<label class="col-sm-2 control-label">Facebook</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										placeholder="exemplo: cenas" data-toggle="tooltip"
										data-placement="bottom" title="Tooltip for name"
										th:field="*{facebook}">
								</div>
	 						</div>
	 					
	 						<div class="form-group">
	 							<label class="col-sm-2 control-label">LinkeDin</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										placeholder="exemplo: cenas" data-toggle="tooltip"
										data-placement="bottom" title="Tooltip for name"
										th:field="*{linkeDin}">
								</div>
	 						</div>
	 						
	 						<div class="form-group">
	 							<label class="col-sm-2 control-label">Twitter</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										placeholder="exemplo: cenas" data-toggle="tooltip"
										data-placement="bottom" title="Tooltip for name"
										th:field="*{twitter}">
								</div>
	 						</div>
	 						
	 						<div class="form-group">
	 							<label class="col-sm-2 control-label">Instagram</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										placeholder="exemplo: cenas" data-toggle="tooltip"
										data-placement="bottom" title="Tooltip for name"
										th:field="*{instagram}">
								</div>
	 						</div>
	 						
	 						<div class="form-group">
	 							<label class="col-sm-2 control-label">Email</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										placeholder="exemplo: cenas" data-toggle="tooltip"
										data-placement="bottom" title="Tooltip for name"
										th:field="*{email}">
								</div>
	 						</div>
	 						
	 						<div class="form-group">
	 							<label class="col-sm-2 control-label">Telemovel</label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										placeholder="exemplo: cenas" data-toggle="tooltip"
										data-placement="bottom" title="Tooltip for name"
										th:field="*{telemovel}">
								</div>
	 						</div>
	 					<!-- Butao submit -->
	 					<h4 class="page-header"></h4>
						<div class="form-group">
							<div class="col-sm-2">
								<button type="submit" class="btn btn-primary btn-label-left">
									<span><i class="fa fa-clock-o"></i></span> Guardar
								</button>
							</div>
						</div>
 					</form>
				</div>
				
				</div>
			</div>
		</div>
		<!--END TIPO FOOTER-->
		
		
		<!-- FOTO Gallery -->
		
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="box">

					<div class="box-header">
						<div class="box-name">
							<i class="fa fa-search"></i> <span>Adicionar foto galeria</span>
						</div>
						<div class="box-icons">
							<a class="collapse-link"> <i th:class="${editMode} == 'TYPE_IMAGES'? 'fa fa-chevron-down': 'fa fa-chevron-up'"></i>
							</a> <a class="expand-link"> <i class="fa fa-expand"></i>
							
							</a>
						</div>
						<div class="no-move"></div>
					</div>
					
				<div class="box-content" th:style="${editMode} == 'TYPE_IMAGES'? 'display: block;': 'display: none;'">
	
		<form 	class="form-horizontal" 
				role="form"  
				th:object="${projectosObj}" 
				method="POST" 
				enctype="multipart/form-data" >
					
					ID : <input type="text" class="field left" readonly="readonly" id="proj_Galary_id" th:field="*{id}">		
					Nome : <input type="text" class="field left" readonly="readonly" th:field="*{titulo}">		
		</form>
		
		  <!-- File upload -->
		<link type="text/css" th:href="@{bo/plugins/fineuploader/fine-uploader-new.css}" rel="stylesheet"/>
		<script type="text/javascript" th:src="@{plugins/fineuploader/fine-uploader.js}"></script>

			<button type="button" id="addImages" >Adicionar fotos a este Projeto...</button>
			<!-- Fine Uploader DOM Element
		    ====================================================================== -->
		    <div class="form-group" id="fine-uploader-manual-trigger"></div>	
		     
		     
		    <h4 class="page-header">Gallery</h4>
			<table class="table beauty-table table-hover">
			<thead>
				<tr>
					<th>Foto</th>
					<th>Titulo</th>
					<th>Autor</th>
					<th>ID_Father</th>
					<th></th>
		    </tr>
			</thead>
					<tbody>
						<tr th:each="img: ${imagens}" th:if="${img.idFather}==${projectosObj.id}" >
						 	
							<td >
								<img th:src="'http://'+ @{${ipServer}}+''+ @{*{img.path_show}}" style="width:100px;height:40px;">
							</td>
							<td th:text="${img.titulo}"></td>
							<td th:text="${img.autor}"></td>
							<td th:text="${img.idFather}"></td>
							<td>
								<div class="btn-group">
									<a  th:href="@{/bo/delImage(id=${img.id},idProj=${img.idFather})}"  ><i class="fa fa-pencil fa-fw"></i> Apagar</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
				
				</div>
			</div>
		</div>
		
		<!--TABLE RESULT-->
	<div id="dashboard-header" class="row"> 
			<div class="box-proent">		
			 
			<h4 class="page-header">Projectos</h4>
			<table class="table beauty-table table-hover">
			<thead>
				<tr>
					<th>Categoria Nome</th>
					<th>Titulo</th>
					<th>TYPE</th>
					<th>Sequencia</th>
					<!-- <th>Descricao</th> -->
					<!-- <th>Ficha Tecnica</th> -->
					<!-- <th>Foto Galeria</th> -->
					<!-- <th>Video Link</th> -->
					<th></th>
					
				</tr>
			</thead>
					<tbody>
						<tr th:each="pro : ${projectos}">
							<td th:each="cat : ${catgories}" th:if="${pro.categoria_id}==${cat.id}" th:text="${cat.nome}"></td>
							<td th:text="${pro.titulo}"></td>
							<td th:each="cat : ${catgories}" th:if="${pro.categoria_id}==${cat.id}" th:text="${cat.type}"></td>
							<td th:text="${pro.orderView}"></td>
							<!-- <td th:text="${pro.descricao}"></td>  -->
							<!-- <td th:text="${pro.ficha_tecnica}"></td>  -->
							<!-- <td th:text="${pro.foto_galeria}"></td> -->
							<!-- <td th:text="${pro.video_link}"></td> -->
							<td>
								<div class="col-sm-4">
									<div class="toggle-switch toggle-switch-success">
										<label>
											<input th:if="${pro.active_flag} == 0" type="checkbox" id="home-proeudos" name="active" th:value="${pro.id}">
											<input th:if="${pro.active_flag} == 1" type="checkbox" id="home-proeudos" name="active" th:value="${pro.id}" checked>
											<div class="toggle-switch-inner"></div>
											<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
										</label>
									</div>
								</div>
								</td>
								<td>
								<div class="btn-group">
									<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
									<span class="fa fa-caret-down">Ações</span>
									</a>
									<ul class="dropdown-menu">
										<li><a  th:href="@{/bo/editCont(id=${pro.id})}"  ><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
										<li><a  th:href="@{/bo/addGallary(id=${pro.id})}"><i class="fa fa-trash-o fa-fw"></i> Gallery</a></li>
										<li><a  th:href="@{/bo/delCont(id=${pro.id})}"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
									</ul>
								</div>
								</td>
						</tr>


					</tbody>
				</table>
			</div>
		</div>
		

	</div>
       
</body>
</html>