<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
	<script type="text/javascript">

			$(document).ready(function() {
				// Create Wysiwig editor for textare
				TinyMCEStart('#wysiwig_simple', 'extreme');
				TinyMCEStart('#wysiwig_full', 'extreme');
				
			});
	</script>
</head>
<body>

<div th:fragment="gestao-Conteudos" id="gestao-Conteudos" >

<!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
		<a href="#" class="show-sidebar"> <i class="fa fa-bars"></i>
		</a>
		<ol class="breadcrumb pull-left">
			<li><a href="/db">Home</a></li>
			<li><a href="gestao-Conteudos" class="ajax-link" >Gestão de Conteudos</a></li>
		</ol>
		<div id="social" class="pull-right">
			<a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i
				class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i
				class="fa fa-youtube"></i></a>
		</div>
	</div>
</div>

	<div class="row" th:each="cat : ${categorias}" th:class="${cat.type}!='TYPE_HEADER'?'hidden':''">
	
				<!-- TYPE_HEADER -->
				<div id="type_header" th:replace="dashboard/content/type_content/type_header :: type_header"></div>
				
	</div>
	<div class="row" th:each="cat : ${categorias}" th:class="${cat.type}!='TYPE_BIOGRAFIA'?'hidden':''">
	
				<!-- TYPE_BIOGRAFIA -->
				<div id="type_biografia" th:replace="dashboard/content/type_content/type_biografia :: type_biografia"></div>
				
	</div>
	<div class="row" th:each="cat : ${categorias}" th:class="${cat.type}!='TYPE_PROJECTO'?'hidden':''">
	
				<!-- TYPE_PROJECTO -->
				<div id="type_projecto" th:replace="dashboard/content/type_content/type_projecto :: type_projecto"></div>
				
	</div>
	<div class="row" th:each="cat : ${categorias}" th:class="${cat.type}!='TYPE_FOOTER'?'hidden':''">
	
				<!-- TYPE_FOOTER -->
				<div id="type_footer" th:replace="dashboard/content/type_content/type_footer :: type_footer"></div>
	
	</div>
	
</div>


</body>
</html>