<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">

<body>

<div th:fragment="home" id="home" >

		<!--Start Breadcrumb-->
		<div class="row">
			<div id="breadcrumb" class="col-xs-12">
				<a href="#" class="show-sidebar">
					<i class="fa fa-bars"></i>
				</a>
				<ol class="breadcrumb pull-left">
					<li><a href="/bo">Home</a></li>
				</ol>
				
			</div>
		</div>
		<!--End Breadcrumb-->
		<!--Start Dashboard 1-->
		
		<div class="row" >
			<div class="box-proent">	
				<h4 class="page-header">Accões</h4>	
				<a class="btn btn-success btn-label-center" href="/" target="_blank" ><span><i class="fa fa-clock-o"></i></span>Ver Pagina Principal</a>
				<!-- 
				<a type="button" class="btn btn-danger btn-label-left"  href="/db/refresh" ><span><i class="fa fa-clock-o"></i></span>Refresh Pagina Principal</a>
				<a type="button" class="btn btn-danger btn-label-left"  href="/db/build" ><span><i class="fa fa-clock-o"></i></span>Build Static Pagina Principal</a>
				 -->
				<h4 class="page-header"></h4>
			</div>
		</div>
		
		<div id="dashboard-header" class="row"> 
			<div class="box-proent">		
			 
			 <h4 class="page-header">Categorias</h4>
			<table class="table beauty-table table-hover">
				
							<thead>
								<tr>
									<th>Categoria Nome</th>
									<th>Categoria id</th>
									<th>Update</th>
									<th>url</th>
									<th>Imagem Background</th>
									<th>Color Background</th>
									<th>Sequencia</th>
									<th>Tipo</th>
									<th>Visível</th>
									
								</tr>
							</thead>
							<tbody>
							
							<tr th:each="cat : ${catgories}">
								<td th:text="${cat.nome}"></td>
								<td th:text="${cat.id}"></td>
								<td th:text="${cat.lastUpdate}"></td>
								<td th:text="${cat.url}"></td>
								<td th:text="${cat.img_backGround}"></td>
								<td th:text="${cat.cor_backGround}"></td>
								<td th:text="${cat.orderView}"></td>
								<td th:text="${cat.type}"></td>
								<td>
								<div class="col-sm-4">
									<div class="toggle-switch toggle-switch-success">
										<label>
											<input th:if="${cat.active_flag} == 0" type="checkbox" id="home-Categorias" name="active" th:value="${cat.id}" >
											<input th:if="${cat.active_flag} == 1" type="checkbox" id="home-Categorias" name="active" th:value="${cat.id}" checked>
											<div class="toggle-switch-inner"></div>
											<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
										</label>
									</div>
								</div>
								</td>
								
								
							</tr>
								
								
							</tbody>
						</table>
						
				
					</div>
		</div>
		<div class="row">
	<div class="box-proent">

		<h4 class="page-header">Projectos</h4>

		<table class="table beauty-table table-hover">
			<thead>
				<tr>
					<th>Categoria_id</th>
					<th>Titulo</th>
					<!-- <th>Descricao</th> -->
					<th>Ficha Tecnica</th>
					<th>Foto Galeria</th>
					<th>VideovGaleria</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
					<tbody>
						<tr th:each="pro : ${projectos}">
							<td th:text="${pro.categoria_id}"></td>
							<td th:text="${pro.titulo}"></td>
							<!-- <td th:text="${pro.descricao}"></td> -->
							<!-- <td th:text="${pro.ficha_tecnica}"></td> -->
							<td th:text="${pro.foto_galeria}"></td>
							<td th:text="${pro.video_link}"></td>
							<td>
								<div class="col-sm-4">
									<div class="toggle-switch toggle-switch-success">
										<label>
											<input th:if="${pro.active_flag} == 0" type="checkbox" id="home-projecto" name="active" th:value="${pro.id}">
											<input th:if="${pro.active_flag} == 1" type="checkbox" id="home-projecto" name="active" th:value="${pro.id}" checked>
											<div class="toggle-switch-inner"></div>
											<div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
										</label>
									</div>
								</div>
								</td>

						</tr>


					</tbody>
				</table>
	</div>
</div>
</div>

</body>
</html>