<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
	
</head>
<body>
 
		<div class="container" th:fragment="content">
		
				<!-- ********************** Page Content catarina morla ******************************************-->
				<div class="hidden" id="role0">
					<h2>Page Content catarina morla -</h2>
				</div>
		
				<!-- ******************************* Page Content Coreográfia **************************************-->
				<div class="hidden" id="role1">
					<h2>Page Content coreografia -</h2>
				</div>
		
		
				<!-- ****************************** Page Content Figurinos ******************************************-->
				<div class="hidden" id="role2">
					<h2>Page Content Figurinos -</h2>
				</div>
		
				<!-- ******************************** Page Content Vestuário ****************************************-->
				<div class="hidden" id="role3">
					<h2>Page Content Vestuário -</h2>
				</div>
		
				<!-- ******************************** Page Content S.C.A.R.F.S ***************************************-->
				<div class="hidden" id="role4">
					<h2>Page Content S.C.A.R.F.S -</h2>
				</div>
		
		</div>
	
</body>
</html>
