<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
		<head  th:fragment="header">
		
			
				<title>Catarina Morla</title>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
			
				 	<link type="text/css" href="/fe/css/bootstrap.min.css" th:href="@{/fe/css/bootstrap.min.css}" 	rel="stylesheet"/>
				 <!-- 	<link type="text/css" href="/fe/css/bootstrap.css" 	th:href="@{/fe/css/bootstrap.css}" 		rel="stylesheet"/> -->
				 	<link type="text/css" href="/fe/css/bodyStyle.css" 	th:href="@{/fe/css/bodyStyle.css}" 		rel="stylesheet" />
				 	<link type="text/css" href="/fe/css/full-slider.css" 	th:href="@{/fe/css/full-slider.css}" 	rel="stylesheet" /> 
				 	
				 	 
			
		</head>
</html>