<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Catarina Morla</title>

   
	
	
	<link type="text/css" href="/fe/css/bootstrap.min.css" th:href="@{/fe/css/bootstrap.min.css}" 	rel="stylesheet"/>
				 <!-- 	<link type="text/css" href="/fe/css/bootstrap.css" 	th:href="@{/fe/css/bootstrap.css}" 		rel="stylesheet"/> -->
				 	<link type="text/css" href="/fe/css/bodyStyle.css" 	th:href="@{/fe/css/bodyStyle.css}" 		rel="stylesheet" />
				 	<link type="text/css" href="/fe/css/full-slider.css" 	th:href="@{/fe/css/full-slider.css}" 	rel="stylesheet" /> 
				 	

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
					<span class="icon-bar"></span>
                </button>
                <a onclick="bodySlide(0);" class="navbar-brand" href="#role0">Catarina Morla</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="menu_head">
                   <li>
                        <a onclick="bodySlide(1);" href="#role1">Coreografia</a>
                    </li>
                    <li>
                        <a onclick="bodySlide(2);" href="#role2">Figurinos</a>
                    </li>
                    <li>
                        <a onclick="bodySlide(3);"href="#role3">Vestuário</a>
                    </li>
					 <li>
                        <a onclick="bodySlide(4);" href="#role4">S.C.A.R.F.S</a>
                    </li>
					<li id="loader">
                        
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators" id="indx">
           <li id="ind0" data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li id="ind1" data-target="#myCarousel" data-slide-to="1"></li>
            <li id="ind2" data-target="#myCarousel" data-slide-to="2"></li>
			<li id="ind3" data-target="#myCarousel" data-slide-to="3"></li>
			<li id="ind4" data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
		
             <div class="item active"  id="0">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url(recursos/bg.jpg);"></div>
                <div class="carousel-caption">
                   <h2><a  href="#role0"> Catarina Morla </a> </h2>
                </div>
            </div>
			
            <div class="item" id="1">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url(recursos/1.jpg);"></div>
                <div class="carousel-caption">
					<h2><a  href="#role1">Coreografia</a> </h2>
                </div>
            </div>
			
             <div class="item" id="2">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url(recursos/4.jpg);"></div>
                <div class="carousel-caption">
					<h2><a  href="#role2">Figurinos</a> </h2>
					
                </div>				 
            </div>
			
            <div class="item" id="3">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url(recursos/2.jpg);"></div>
                <div class="carousel-caption">
					<h2><a  href="#role3">Vestuário</a> </h2>
                </div>
            </div>
			
			 <div class="item" id="4">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url(recursos/3.jpg);"></div>
                <div class="carousel-caption">
					<h2><a  href="#role4">S.C.A.R.F.S</a> </h2>                   
                </div>
            </div>
			
        </div>

        <!-- Controls -->
        <a onclick="bodySlide(10)" class="left carousel-control" href="#myCarousel" data-slide="prev" >
            <span class="icon-prev"></span>
        </a>
        <a onclick="bodySlide(10)" class="right carousel-control" href="#myCarousel" data-slide="next" >
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <div class="container">
	<!-- Page Content catarina morla -->
    <div class="hidden" id="role0">
     <h2>Page Content catarina morla -</h2>
    </div>
		
	<!-- Page Content Coreográfia -->
		 <div class="hidden" id="role1"   >

		</div>
	</div>
	
	<!-- Page Content Figurinos -->
	 <div class="hidden" id="role2">
		<h2>Page Content catarina morla -</h2>
    </div>
	
	<!-- Page Content Vestuário -->
	 <div class="hidden" id="role3">
		<h2>Page Content catarina morla -</h2>
    </div>
	
	<!-- Page Content S.C.A.R.F.S -->
	 <div class="hidden" id="role4">
		<h2>Page Content catarina morla -</h2>
    </div>
       

    </div>
				    <!-- /.container -->
				<!-- jQuery -->
				    <script type="text/javascript" th:src="@{/fe/js/jquery.js}" ></script>
				    <!-- Bootstrap Core JavaScript -->
					<script type="text/javascript" th:src="@{/fe/js/bootstrap.min.js}" /></script>
					<!-- MENu -->
					<script type="text/javascript" th:src="@{/fe/js/scripts.js}" /></script>
						<!-- Custom JavaScript -->
					<script>
					    $('.carousel').carousel({
					        interval: 0//5000 //changes the speed
					    })
    				</script>

</body>

</html>
