<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
	
	<head th:replace="fe_dynamic/fragment/header :: header"></head>
	
<body>
	<!-- MENU -->
	<div th:replace="fe_dynamic/fragment/menu :: menu"></div>

	<!-- Full Page Image Background Carousel Header -->
	<header th:replace="fe_dynamic/fragment/Carousel :: carousel"></header>
	

	<!-- Page Content -->
	<div th:replace="fe_dynamic/fragment/content :: content"></div>
	
	
	
	<footer th:replace="fe_dynamic/fragment/footer :: footer"></footer>
	
	
</body>
	
</html>